<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span mat-button routerLink="/">
      Sylvan LE DEUNFF
    </span>

    <span style="flex: 1"></span>

    <a mat-button routerLink="/curriculum">
      <mat-icon>school</mat-icon>
      Curriculum
    </a>
    <a mat-button href="https://wiki.sylvan.ovh" target="blank">
      <mat-icon>menu_book</mat-icon>
      Private wiki
    </a>
  </mat-toolbar-row>
</mat-toolbar>