
<a [href]="network.url" target="blank">
    <mat-icon 
        [fontSet]="network.icon[0]" 
        [fontIcon]="network.icon[1]" 
        [ngStyle]="{color: network.icon[2]}">
    </mat-icon>
    <span>
        {{network.alias}}
    </span>
</a>
