@import '../../../theme.scss';

:host{
    display: flex;
    flex-wrap: wrap;

    padding: 16px;
    background-color: $header-background-color;
    color: $header-color;
    align-items: center;
    justify-content: center;
}

:host img{
    max-height: 8em;
}

:host main{
    flex-grow: 1;
    padding: 0 16px;
}

:host h1{
    margin-block-end: 0.4em;
}

:host h2.title{
    font-size: 1.2em;
    margin-block-end: 0.1em;
}

:host h2.subtitle{
    font-size: 0.8em;
    color: #CAD9E0;
    margin-block-start: 0.1em;
}

