<img src="assets/profiles/profile1.jpg">

<main>
    <h1>
        {{applicant.firstName | titlecase}}
        {{applicant.lastName | uppercase}}
    </h1>
    <h2 class="title">
        {{applicant.title}}
    </h2>
    <h2 class="subtitle">
        {{applicant.subtitle}}
    </h2>
</main>

<aside>
    <app-contact></app-contact>
</aside>