@import '../../../theme.scss';

:host div{
    margin: 8px 0;
    display: flex;
    align-items: center;
}

:host p{
    margin: 0 8px;
    font-size: 0.9em;
}

@media screen and (max-width: 47em){
    :host{
        display: flex;
        flex-wrap: wrap;
    }
}