<div>
    <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
    <p>
        {{contact.address.street}},<br>
        {{contact.address.zipcode}}
        {{contact.address.city}}
    </p>
</div>

<div>
    <mat-icon fontSet="fa" fontIcon="fa-phone"></mat-icon>
    <p>
        {{contact.phoneNumber}}
    </p>
</div>

<div>
    <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
    <p>
        {{contact.email}}
    </p>
</div>