<h3>Projets, à titre personnel</h3>

<div *ngFor="let project of projects">
    <p>
        <b>{{project.short_description}}</b>, {{project.name}}<br>
        <span class="period">
            {{project.period[0]}} - {{project.period[1]}}
        </span><br>
    </p>

    <ul class="achievements">
        <li>{{project.description}}</li>
    </ul>
</div>