mat-chip-list{
    display: block;
    margin-block-start: 4px;
    margin-block-end: 8px !important;
}

mat-chip{
    display: inline-block;
    vertical-align: text-top;
    font-size: 0.8em;
    min-height: 2.5em;
    z-index: 1 !important;
    text-align: center;
    padding-bottom: 0;
    margin: 2px !important;
}
