<p>
<b>{{job.title}}</b>, {{job.company}}<br>
<span class="period">
    {{job.period[0] | titlecase}} - {{job.period[1] | titlecase}}
</span>
</p>

<ul class="achievements">
    <li *ngFor="let achievement of job.achievements">{{achievement}}</li>
</ul>