<app-header></app-header>

<article class="content">
    <main>
        <app-jobs></app-jobs>
        <app-projects></app-projects>
        <app-schools></app-schools>
    </main>
    <aside>
        <app-skills></app-skills>
        <app-hobbies></app-hobbies>
        <app-networks></app-networks>
        <app-languages></app-languages>
    </aside>
</article>