@import '../../../theme.scss';

:host{
    display: flex;
    flex-direction: column;

    padding: 16px;
    box-sizing: border-box;
}

:host > .content{
    display: flex;
    flex-wrap: wrap;
}

:host > .content > main{
    flex: 2;
    margin-right: 16px;
    min-width: 26em;
}

@media screen and (min-width: 210mm){
    :host{
        width: 210mm;
        height: 297mm;
        margin: auto;
    }
}


@media screen and (max-width: 210mm){
    :host > .content > main{
        flex: 2;
        margin-right: 16px;
        min-width: 15em;
    }
}

@media print{
    :host{
        margin: 0;
    }
}

@media screen and (max-width: 45em){
    :host > .content > main{
        margin-right: 0px;
    }
}

:host > .content > aside{
    flex: 1;
    min-width: 15em;
}

/* titles style */
:host ::ng-deep h3{
    color: $title-color;
    font-size: 0.9em;
    border-bottom: solid 1px $title-color;
    text-transform: uppercase;
}


// duration
::ng-deep .period{
    font-size: 0.8em;
}

// achievements lists
::ng-deep ul.achievements{
    padding-left: 2em;
    margin-block-start: 0.2em;
}

::ng-deep ul.achievements li{
    font-size: 0.8em;
    color: $achievement-color;
}

:host ::ng-deep .mat-icon{
    height: auto;
}

:host > .content > * > *{
    display: block;
    padding: 0 8px;
    margin-top: 12px;
    border: solid 1px $frame-border-color;
}

