<h3>{{title}}</h3>

<div *ngFor="let hobby of hobbies">
    {{hobby.label}}
    <ul class="achievements">
        <li *ngFor="let achievement of hobby.achievements">
            {{achievement}}
        </li>
    </ul>
</div>