// dark
$color1: #3F51B5;
$color2: #C3C3C3;
$color3: #845A6D;
// light
$color4: #ABA8B2;
$color5: #C3C3C3;
$white: #FFFFFF;
$default: black;
$bluegray: #566677;

/* general */

// header
$header-color: $white;
$header-background-color: $color1;

// content
$title-color: $color1;
$frame-border-color: $color1;



/* widgets */
$network-color: $default;
$achievement-color: $bluegray;