<p>
    <b>{{school.diploma}}</b>, {{school.name}}<br>
    <span class="period">
        {{school.period[0] | titlecase}} - {{school.period[1] | titlecase}}
    </span><br>
    <!--<i>{{school.address}}, {{school.zipcode}} {{school.city}}</i>-->
</p>

<ul class="achievements">
    <li *ngFor="let achievement of school.achievements">{{achievement}}</li>
</ul>